<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>eleyi</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<script src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&libraries=places&callback=initMap" async defer></script>
</head>

<body>
	<div class="header">
		<img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
	</div>
<div class="input_container">
	<input type="text" placeholder="Choose starting point..." class="input" id="origin"/>
</div>
<div class="input_container">
	<input type="text" placeholder="Choose destination..." class="input" id="destination"/>
</div>
<button class="search-button" onclick="location.href='/results'" type="button">Search</button>
<div id="error"></div>
<div id="itinaries"></div>
<div id="map"></div>
		  
	  
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>